@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
/* ^import font from google put import link on top always */


/* Style borders, outline, margins, padding, fontfamily */
/* the default color is based on the text color(border) */
h1 {
    /* border: 5px dashed crimson; */
    border-width: 10px;
    border-style: ridge;
    border-color: brown;
    /* border-style: hidden; border is hidden still there */
    color: blue;
}

h2 {
    /* styling example*/
    border-width: 10px;
    /* border-width: thick text based example */
    border-style: solid;
    border-color: brown;
    border-color: aqua blueviolet green red;
    color: blue;
}

h3 {
    background: linear-gradient(aqua, blue, red);
    /* only use gradiant when you understand the values, where to fix mistake */
    Border-style: solid dotted ridge double;
    /* 4 values clockwise */
    border-color: red green;
    /* top and bottom red, left and right green */
    border-width: thick;
    border-radius: 10px;
}

h4 {
    border: 5px solid black;
    outline: 10px solid green;
    outline-offset: 3px;
    /* 
    outline-width: 10px 
    outline-style: solid
    outline-color: green
    */
}


.swag {
    background: linear-gradient(purple, pink, yellow);
    background-size: cover;
    /* background-position: ; */
}

h5 {
    /* 
    Margins, Padding 
    Margin= outside element, 
    Padding= inside  element*/
    /* outside: */
    margin: 5px;
    border: 4px solid black;
}

h6 {
    /* inside */
    padding: 5px;
    border: 4px solid black;
}

p {
    font-family: 'Honk', system-ui;
    font-size: 50px;
    font-weight: 200;
}